body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4,25vw);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "main header header header"
      "main sidebar sidebar sidebar"
      "main sidebar sidebar sidebar"
      "main sidebar sidebar sidebar"
      "footer footer footer footer";

}

header {
    align-items: center;
    grid-area: header;
    display: grid;
    justify-content: center;
    margin-block-end: 0;
    padding: 0;
    width:153vh;
    height: 100px;
    background-color: #e3e6e7;

}

header nav{
    display: flex;
    justify-content:space-between;
    margin-left: 700px;
    align-items: center;
    transform: translate(-30%, 40px);

    
}

header nav a{
    text-decoration: none;
    
}

main{
    margin: 0;
    display: grid;
    grid-area: main;
    background:-webkit-linear-gradient(#7FFF87,#70c0e6);
    height: 100vh;
}

main .perfil{
    margin: 0;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

main .user{
transform: translate(85px, -190px);
font-size: 30px;

}

.perfil a{
    color: white;
}

main a{
    font-size: 19px;
    transform: translate(0, -150px);
}

.palavraperfil{
    margin-block-end: 12px;
}
img{
    height: 150px;
    width: auto;
    transform: translate(95px,70px);
}


.sidebar{
    display: grid;
    grid-area: sidebar;
    width:153vh;
}

footer{
    display: grid;
    grid-area: footer;
    background-color: blue;
    width:205vh;
}
h1{
    text-decoration: none;
    letter-spacing: 5px;
    transform: translate(-130px, -10px);

}
a{
    text-decoration: none;
    /* letter-spacing: 5px; */
    margin-left: 20px;
}

a:hover{
    color: #7FFF87;
}