body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: #7fff87; */
}

form {
    background: url(../images/bg-responsivo.jpg);
    background-size: cover;
    height: 100vh;
    width: 120vh;
    background-position: center;
    margin: 4em auto;
    width: 900px;
    height: 850px;
    padding: 1em;
    /* border: 8px solid #7FFF87; */
    border-radius: 2em;
    align-items: center;
}

/* form div + div {
    margin-top: 1em;
} */

h2 {
    margin: 2.5em 0 1em 0;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

p {
    font-size: 16pt;
    /* display: flex; */
}

button {
    margin: 2em auto;
    padding: 1em;
    font-size: 12pt;
    display: flex;
    align-items: center;
    border: 7px solid white;
    border-radius: 25px;
    background-color:#7FFF87;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

input {
    width: 400px;
}