{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style-conta.css' %}">
    <script src="https://unpkg.com/blip-chat-widget" type="text/javascript">
    </script>
    <script>
        (function () {
            window.onload = function () {
                new BlipChat()
                .withAppKey('c2VyZW5hOjM1MDBmMDlhLWU2NzYtNDJjMS05ODQ1LWQ4ZWI3YTI4YTYxYQ==')
                .withButton({"color":"#2CC3D5","icon":""})
                .build();
            }
        })();
    </script>

    <title>Bem-vindo(a)!</title>
</head>

<body>
    <div class="grid">

        <header>
            <nav>
                <a href="">Home</a>
                <a href="">Dicas</a>
                <a href="">Artigos</a>
            </nav>
            <h1>SEJA BEM-VINDO(A)!</h1>
        </header>
        <main>
            <img src="../static/images/terry.png" alt="">

            <div class="perfil">
                <p class="user">Terry Crews</p>
                <a href="" class="palavraperfil">Perfil</a>
                <a href="">Configurações</a>
            </div>
        </main>

        <div class="sidebar">
            <div class="jornal">
                <p>Dicas Semanais</p>
                <img src="{% static 'images/relaxa02.jpg' %}" alt="" id="imagem-relax">
                <p id="dez">
                    10 dicas para relaxar em 60 segundos
                </p>
                <p id="cont">
                        Nas grandes cidades o dia começa mal. Grande parcela da população <br> fica presa no trânsito. Ficar preso no trânsito tira qualquer um do sério. <br> Para espanto de muitos, a capital paulistana não é a recorde em tempo <br> perdido nos deslocamentos.
                </p>
                <div id="container">
                    <img  id="relex" src="{% static 'images/relaxa.jpg' %}" alt="">
                    <P id="saude">
                        O que é saude mental?
                    </P>
                    <img id="geo" src="{% static 'images/referenciamento.png' %}" alt="">
                    <P id="geo2">
                        Procure aqui seu psicólogo!
                    </P>
                </div>
            </div>

        </div>
    </div>
</body>

</html