{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style-conta.css' %}">
    <title>Bem-vindo(a)!</title>
</head>

<body>
    <div class="grid">

        <header>
            <nav>
                <a href="">Home</a>
                <a href="">Dicas</a>
                <a href="">Artigos</a>
            </nav>
            <h1>Seja Bem-vindo(a)!</h1>
        </header>
        <main>
            <img src="../static/images/user-foto.png" alt="">
        </main>

        <div class="sidebar">
            <p>Dicas de Relaxamento</p>

        </div>
        <footer>
            <p>tchau</p>
        </footer>
    </div>
</body>

</html