{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Serena</title>
</head>
<body>
    <header>
        <h1>oieee</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima harum deserunt saepe fuga iure eius dolores sapiente neque modi laborum a asperiores eveniet, repellat error, repellendus non ipsa natus aut.</p>
    </header>

    <section>
        <div>
        <h3>email ou user</h3>
        <input type="text" placeholder="E-mail o usuário">
        </div>

        <div>
            <h3>senha</h3>
            <input type="password" placeholder="Senha">
        </div>

        <div>
            <button>Entrar</button>
        </div>

    </section>


    <aside>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti quis sunt blanditiis numquam, architecto omnis minima esse dolorem! Atque rem necessitatibus quam ipsum minus commodi similique tempore. Hic, quisquam blanditiis.</p>
        <div>
            <img src="" alt="">
        </div>
    </aside>

    <footer>
        <div></div>
        <div></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quidem nobis perferendis fugiat tempora quod sapiente optio quo accusantium, expedita ab tenetur, minima eveniet minus nihil eligendi fugit totam est.</p>
    </footer>
    
</body>
</html>